.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 40px 50px;
  height: 60px;
  .title {
    color: #6f8738;
    font-size: 24px;
    font-weight: bold;
  }
  .menu {
    width: 270px;
    display: flex;
    justify-content: space-between;
    .nav {
      color: #333;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        color: #6f8738;
      }
    }
    .active {
      color: #6f8738;
      text-decoration: underline;
    }
  }
}
