body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

//Select package
.class-name-value {
  color: red;
}

//SCSS of all input
input {
  border: 1px #b2b2b2 solid;

  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  &:focus {
    border: 1px #93ad3c solid;
    box-shadow: 0 0 0 4px #cde090;
  }
}
